html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #757575;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-text-color);
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

